{% extends "base.html" %}

{% block content %}

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<!-- Index Page -->
	<div class="container animated fadeIn">
		<div class="one-third column" style="margin-top: 50px">
			<blockquote>
				<p>“This is where the About Page Will Go.”</p>
				<cite>Chase Schultz</cite>
			</blockquote>
		</div>
		<div class="two-thirds column">
			<img src="static/images/tesla.jpg" width="550" height="325" align="center">
		</div>
	</div><!-- container -->


{% end %}
