<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Chase Schultz - Personal Page</title>
	<meta name="description" content="Personal Site">
	<meta name="author" content="Chase Schultz">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="static/css/base.css">
	<link rel="stylesheet" href="static/css/skeleton.css">
	<link rel="stylesheet" href="static/css/layout.css">

	<!-- Custom Style Sheet-->
	<link rel="stylesheet" href="static/css/style.css">

	<!-- Animate Sytel Sheet -->
	<link rel="stylesheet" href="static/css/animate.css">

	<!-- Google Webfont for Architecture Font -->
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="static/images/favicon.ico">
	<link rel="apple-touch-icon" href="static/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/images/apple-touch-icon-114x114.png">

</head>
<body>
	<!-- Header 
	================================================== -->
	<div class="container">
		<div class="twelve columns">
			<h1 class="remove-bottom" style="margin-top: 40px">CHASE SCHULTZ</h1>
		</div>
		<div class="two columns">
			<h4 style="margin-top: 60px" align="left">chaschul@uat.edu</h4>
		</div>
		<div class="sixteen columns">
			<br>
		</div>
		<div class="two columns">
			<a href="about">ABOUT</a>
		</div>
		<div class="two columns">
			<a href="code">CODE</a>
		</div>
		<div class="two columns">
			<a href="resume">RESUME</a>
		</div>
		<div class="two columns">
			<a href="blog">BLOG</a>
		</div>
		<div class="sixteen columns">
			<hr />
		</div>
	</div>
	<!-- Header ends here -->

  {% block content %}
  {% end %}

  	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="static/js/tabs.js"></script>
	
	<!-- Footer 
	================================================== -->	
	<div class="container">
		<div class="sixteen columns"><br>
				<hr>
		</div>
		<div class="eleven columns">
				Designed by Chase Schultz
		</div>
		<div class="five columns">
				<!-- CopyLeft Symbol Hack -->
				<span style="-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: inline-block;">
        			&copy;
				</span>
				Copyleft - All Wrongs Reserved
				<br><br><br>
		</div>
		<br><br>
	</div>
	<!-- Footer ends here -->
<!-- End Document
================================================== -->
</body>
</html>