{% extends "base.html" %}

{% block content %}

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<!-- Index Page -->
	<div class="container animated fadeIn">
		<div class="row">
			<div class="thirteen columns">
				<p style="margin-top: -20px; font-size: 100%">Recent Posts:</p><br>
				<!-- This is where the top 4-5 blog entries will go w/ links -->

			</div>
			<div class="two columns" style="margin-top: -20px">
				<h4 align="right">BLOG</h4>
			</div>
		</div>
		<div class="row">
			<div class="thirteen columns">
				<p style="margin-top: -20px; font-size: 100%">Recent Posts:</p><br>
				<!-- This is where the top 4-5 blog entries will go w/ links -->

			</div>
			<div class="two columns" style="margin-top: -20px">
				<h4 align="right">BLOG</h4>
			</div>
		</div>
	</div><!-- container -->


{% end %}