{% extends "base.html" %}

{% block content %}

	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<!-- Index Page -->

	<div class="container  animated fadeIn">
		<div class="one-third column" style="margin-top: 50px">
			<blockquote>
				<p>“Our virtues and our failings are inseparable, like force and matter. When they separate, man is no more.”</p>
				<cite>Nikola Tesla</cite>
			</blockquote>
		</div>
		<div class="two-thirds column">
			<img src="static/images/tesla.jpg" width="550" height="325" align="center">
		</div>
		<div class="sixteen columns">
			<hr />
		</div>
		<div class="one-third column">
				<h3>About Me?</h3>
				<p>I am a Network Security Major at the University of Advancing Technology. My focuses are application security research, reverse engineering, malware analysis, and penetration testing.</p>
		</div>
		<div class="one-third column">
				<h3>Where's the code?</h3>
				<ul class="square">
					<li><strong><a href="https://github.com/f47h3r/Brine">MSRPC Fuzzer</a></strong>: Microsoft RPC Fuzzer using Peach Fuzzing Framework.</li>
					<li><strong><a href="https://github.com/f47h3r/CryptoWrapper">Sweet Pickles</a></strong>: Python Pickling Library that utilizes AES and Elliptic Curve Cryptography via a <a href="https://github.com/f47h3r/CryptoWrapper">Crypto Wrapper</a> I wrote.</li>
					<li><strong><a href="https://github.com/f47h3r/wherespuppet">Where's Pupp3t</a></strong>: Web application that tracks my professor while at Defcon.</li>
		</div>
		<div class="one-third column">
				<h3>Resume &amp; Contact</h3>
				<ul class="square">
					<li> <strong><a href="linktoresume">Resume</a></strong></li>
					<li> 2627 W. Baseline Rd., Tempe AZ, 85283</li>
					<li> chaschul@uat.edu</li>
					<li> (480) 381-4549</li>
					<li> f47h3r in #overcrash on freenode.net IRC</li>
					<li> Groups: [Buffer]Overflow, OWASP Phoenix, 2600</li>
				</ul>
		</div>
	</div><!-- container -->




{% end %}
