<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Your Page Title Here :)</title>
	<meta name="description" content="Personal Site">
	<meta name="author" content="Chase Schultz">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/skeleton.css">
	<link rel="stylesheet" href="css/layout.css">

	<!-- Custom Style Sheet-->
	<link rel="stylesheet" href="css/style.css">

	<!-- Google Webfont for Architecture Font -->
	<link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

</head>
<body>



	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="twelve columns">
			<h1 class="remove-bottom" style="margin-top: 40px">CHASE SCHULTZ</h1>
		</div>
		<div class="two columns">
			<h4 style="margin-top: 60px" align="left">chaschul@uat.edu</h4>
		</div>
		<div class="sixteen columns">
			<hr />
		</div>
		<div class="one-third column">
				<h3>About Me?</h3>
				<p>I am a Network Security Major at the University of Advancing Technology. My focuses are application security research, reverse engineering, malware analysis, and penetration testing.</p>
		</div>
		<div class="one-third column">
				<h3>Where's the code?</h3>
				<ul class="square">
					<li><strong><a href="https://github.com/f47h3r/Brine">MSRPC Fuzzer</a></strong>: Microsoft RPC Fuzzer using Peach Fuzzing Framework.</li>
					<li><strong><a href="https://github.com/f47h3r/CryptoWrapper">Sweet Pickles</a></strong>: Python Pickling Library that utilizes AES and Elliptic Curve Cryptography via a <a href="https://github.com/f47h3r/CryptoWrapper">Crypto Wrapper</a> I wrote.</li>
					<li><strong><a href="https://github.com/f47h3r/wherespuppet">Where's Pupp3t</a></strong>: Web application that tracks my professor while at Defcon.</li>
		</div>
		<div class="one-third column">
				<h3>Resume &amp; Contact</h3>
				<ul class="square">
					<li> <strong><a href="linktoresume">Resume</a></strong></li>
					<li> 2627 W. Baseline Rd., Tempe AZ, 85283</li>
					<li> chaschul@uat.edu</li>
					<li> (480) 381-4549</li>
					<li> f47h3r in ##bo on freenode.net IRC</li>
					<li> Groups: [Buffer]Overflow, OWASP, 2600</li>
				</ul>
		</div>
		<div class="sixteen columns"><br>
				<hr>
		</div>
		<div class="eleven columns">
				Designed by Chase Schultz
		</div>
		<div class="five columns">
				<span style="-webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -khtml-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); display: inline-block;">
        			&copy;
				</span>
				Copyleft - All Wrongs Reserved
		</div>
	</div><!-- container -->



	<!-- JS
	================================================== -->
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="js/tabs.js"></script>

<!-- End Document
================================================== -->
</body>
</html>